.post-list-item {
    background-color: #394E63;
    word-wrap: break-word;
    margin-bottom: 1px;
    padding-bottom: 15px;

    blockquote {
        border-left: 5px solid #eeeeee;
        background-color: #21354C;
        padding: 5px 10px;
        @include box-shadow(0 0 3px rgba(0, 0, 0, .6));
    }

    .image {
        position: relative;
        display: block;
        margin-bottom: 15px;

        &.not-loaded {
            width: 100%;
            height: 150px;
            background-color: rgba(0, 0, 0, .4);

            &:before {
                content: '\e802';
                font-family: 'fontello';
                color: #fff;
                font-size: 200%;
                text-align: center;
                display: block;
                padding-top: 30px;
                @include text-shadow(1px 1px 1px #000);
            }

            &.is-loading {
                &:after {
                    content: 'Bild wird geladen';
                }
            }

            &:after {
                content: 'Bild laden';
                text-align: center;
                display: block;
                padding-top: 10px;
            }
        }
    }

    .post-header {
        background-color: #222E3A;
        font-size: 80%;
        overflow: hidden;
        padding: 5px;

        .meta {
            overflow: hidden;
        }

        .username {
            float: left;
            width: 55%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 500;
        }

        .date {
            float: right;
            font-size: 80%;
        }
    }

    .post-content {
        padding: 15px 10px;
        line-height: 1.25;
        @include display-flex;

        .post-avatar {
            padding-right: 15px;
            width: 65px;
        }

        .post-text {
            @include flex(1);

            > blockquote {
                font-size: 80%;
                line-height: 1.3;
                margin-bottom: 15px;

                blockquote {
                    margin-top: 10px;
                }
            }
        }

        .edited {
            font-size: 12px;
            font-style: italic;
            margin-top: 25px;
        }

        blockquote[data-author]:before {
            content: 'Zitat von ' attr(data-author) '\A';
            white-space: pre;
            font-weight: 300;
        }
    }
}