<div class="user-login-form">
  <p>
    <label for="username">Benutzername</label>
    <input type="text" id="username">
  </p>

  <p>
    <label for="password">Kennwort</label>
    <input type="password" id="password">
  </p>

  <p>
    <span class="button user-login-button">Anmelden</span>
  </p>
</div>