<div class="post-list-wrapper"></div>

{{#if needsPagination}}
  <div class="pagination">
  <input type="range" min="1" max="{{pages}}" step="1" value="{{page}}">
    <div class="pagination-bubble">{{page}}</div>
  </div>
{{/if}}